*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
  line-height: 1.3em;
}

.ui {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
}

header h1 {
  text-align: center;
  font-size: 4em;
  margin: 50px;
  margin-top: 70px;
}

.button-container {
  margin: 0 auto;
  margin-bottom: -15px;
  max-width: 430px;
  display: flex;
  justify-content: space-between;
  border: 1px solid #cdd2d4;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom: none;
}

.button-container button {
  cursor: pointer;
  height: 100%;
  width: 100%;
  padding: 20px;
  background-color: #d2d8d8;
  color: #757575;
}

.button-container button.active {
  color: #000000;
  opacity: 1;
  background: inherit;
  cursor: pointer;
  font-weight: bold;
  z-index: 1;
}

.auth-container {
  margin: 0 auto;
  max-width: 430px;
  border: 1px solid #cdd2d4;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top: none;
  padding: 10px;
}

.auth-container div:first-child button.active {
  opacity: 1;
  cursor: pointer;
}

.auth-container form label {
  display: block;
  margin: 0 0 0.4em;
  font-size: 20px;
}

.auth-container form input {
  background: #edeff0;
  border-radius: 4px;
  border: 1px solid #cdd2d4;
  box-sizing: border-box;
  padding: 0.5em;
  width: 100%;
  display: block;
  margin: 0 0 1.2em;
  line-height: normal;
  font-size: 1.4em;
}

.auth-container form button {
  width: 100%;
  margin-bottom: 1.2em;
  background: #61bd4f;
  color: #fff;
  font-weight: bold;
  box-shadow: 0 2px 0 #3f6f21;
  padding: 0.6em 1.3em;
  text-decoration: none;
  border-radius: 3px;
  line-height: normal;
  font-size: 1.3em;
  cursor: pointer;
}

.auth-container button:hover {
  background: #5aac44;
}

#message {
  display: block;
  margin: 15px;
  font-size: 1.1em;
  visibility: hidden;
}

#message.success {
  color: #61bd4f;
  visibility: visible;
}

#message.danger {
  color: #eb5a46;
  visibility: visible;
}

button {
  display: inline;
  border: none;
  padding: 0;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  -webkit-appearance: none;
  background-color: inherit;
}
