.modal {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica
      neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
}

.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__container {
  background-color: #e2e4e6;
  padding: 30px;
  max-width: 500px;
  max-height: 100vh;
  border-radius: 4px;
  overflow-y: auto;
  box-sizing: border-box;
  min-width: 350px;
}

.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 0;
}

.modal__title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.25;
  color: #333;
  box-sizing: border-box;
}

.modal__close {
  background: transparent;
  border: 0;
  cursor: pointer;
}

.modal**header .modal**close:before {
  content: '\2715';
}

.modal__content {
  margin-top: 2rem;
  margin-bottom: 2rem;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.8);
}

.modal__btn {
  font-size: 0.875rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  background-color: #5aac44;
  color: rgba(0, 0, 0, 0.8);
  border-radius: 0.25rem;
  border-style: none;
  border-width: 0;
  cursor: pointer;
  -webkit-appearance: button;
  text-transform: none;
  overflow: visible;
  line-height: 1.15;
  margin: 0;
  will-change: transform;
  -moz-osx-font-smoothing: grayscale;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  transition: -webkit-transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
}

.modal**btn:focus,
.modal**btn:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.modal__btn-primary {
  background-color: #5aac44;
  color: #fff;
}

.modal__btn-danger {
  background-color: #ac4444;
  color: #fff;
  float: right;
}

.micromodal-slide {
  display: none;
}

.micromodal-slide.is-open {
  display: block;
}

.micromodal-slide[aria-hidden='false'] .modal__overlay {
  animation: mmfadeIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden='false'] .modal__container {
  animation: mmslideIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden='true'] .modal__overlay {
  animation: mmfadeOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden='true'] .modal__container {
  animation: mmslideOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide .modal**container,
.micromodal-slide .modal**overlay {
  will-change: transform;
}

.modal__content textarea {
  resize: none;
  border: none;
  border-radius: 4px;
  padding: 10px;
}

.modal__content label {
  display: block;
}

.modal__content input {
  border: none;
  border-radius: 4px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
}

.modal__content ul {
  list-style: none;
  margin-bottom: 30px;
  padding: 0;
}

.modal__content ul li::before {
  content: '\200B';
  display: none;
}

.modal__content ul li {
  padding: 5px;
}

.modal .form-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.modal .form-group input {
  flex-grow: 3;
}

.modal .form-group label {
  width: 100%;
}

.modal .form-group button {
  flex-grow: 0;
  margin: 10px;
}

#contributors-content li {
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#contributors-content ul li button.danger {
  float: right;
}

.message.danger {
  color: #eb5a46;
}

.message.success {
  color: #61bd4f;
}

button.danger {
  background-color: #eb5a46;
  color: white;
  padding: 3px;
  min-width: 74px;
  height: 39px;
  border-radius: 4px;
  cursor: pointer;
  transition: -webkit-transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
}

button.danger:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}
